@charset "UTF-8";

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #0C0F14;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #06070a8c ;
    color: white;
    width: 70%;
    padding: 16px;
    gap: 250px;
    border-radius: 0px 0px 5px 5px;
}

.title{
    font-size: 35px;
}

.lista{
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.item-lista a{
    color: white;
    font-size: 19px;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
}

.item-lista a:hover{
    background-color: #cbe300;
    color: black;
    transition-duration: .3s;
}


.main-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 45px;
    padding: 40px;
    color: white;
    text-shadow: 3px 2px 16px rgba(0, 0, 0, 0.283);
}

div#container{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

div#card{
    display: flex;
    flex-direction: column;
    background-color: #21262D ;
    border-radius: 10px;
    color: white;
    padding: 20px;
    height: 320px;
    width: 250px;
    box-shadow: 4px 3px 18px rgba(0, 0, 0, 0.283);
    
}

div#card ul{
    list-style-position: inside;
    
}

p.card-title{
    margin: 8px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cbe300;
    font-size: 21px;
    text-indent: 10px;
    font-weight: bold;
    letter-spacing: 1px;
}

p.card-price{
    margin: 12px;
    font-size: 22px;

}

span.price-mes{
    font-size: 12px;
}

ul.card-itens{
    padding: 5px;
    line-height: 1.5;
    color: #b5b5b5;
    flex-grow: 1; /*Pegou o espaço que sobrava embaixo e aplixou na lista, alinhando dessa maneira os links na parte de baixo*/
}

.card-itens li::marker{
    color: #cbe300 ;
}

.card-link{
    text-align: center;
   color: white;
   text-decoration: none;
   font-size: 18px;
   background-color: #cbe300;
   border: 1px solid black;
   padding: 10px;
   border-radius: 7px;
}

.card-link:hover{
    background-color: transparent;
    border-color: #cbe300;
    transition-duration: .2s;
}
